* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Dosis;
  src: url(../fonts/Dosis-VariableFont_wght.ttf);
}

html {
  height: 100vh;
  background-image: url(../img/pexels-pixabay-45230.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: Dosis, sans-serif;
}

.logo {
  max-width: 200px;
  margin-top: 50px;
  margin-bottom: 35px;

  animation:  logo-fly-in 4s ease-in-out 0s 1 both, 
              logo-turbulences 15s ease-in-out 4.5s infinite none;
  
}

@keyframes logo-fly-in {
  0% {
    opacity: 0;
    transform: translate(-60vw, 0);
  }

  100% {
    opacity: 0.9;
    transform: translate(0 ,0);
  }
}

@keyframes logo-turbulences {
  0%, 100% {
    transform: translate(0, 0);

  }

  25% {
    transform: translate(0, -7px);
  }

  50% {
    transform: translate(0, 7px);
  }

  75% {
    transform: translate(0, 5px) scale(1.025);
  }
}

.header {
  text-align: center;
}

.main {
  text-align: center;
  color: #ffffff;

  p {
    font-size: 2rem;
  }
}

h1 {
  margin-bottom: 0.5rem;
  font-size: 5rem;
}

.button {
  margin-top: 1rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background-color: #876f60;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 10000px;
  font-size: 2rem;

  transition: background-color 0.5s;
}

.button:hover {
  background-color: #241d19;
  /* color: yellow;

  transition: all 0s; */
}
}

